{{#each model.images as |img|}}
<div class="col-xs-12 col-sm-3 display--box satellite--box">
	<div class="satellite--title">{{img.name}} Image</div>
	<img src="{{img.url}}" alt="satellite image" class="satellite--image">
</div>
{{/each}}
