{{#if model.tide.tideSummary.length}}
{{#each model.tide.tideSummary as |tide|}}
<div class="tide--box col-xs-1">
	<div class="tide--type">{{tide.data.type}}</div>
	{{#if tide.data.height}}
	<div class="tide--height">{{tide.data.height}}</div>
	{{/if}}
	<div class="tide--date">{{tide.date.pretty}}</div>
</div>
{{/each}}
{{else}}
<div class="row">
	<div class="forecast-text--box col-xs-12 display--box">
		<div class="forecast-text--title">Error</div>
		<div class="forecast-text--desc">
			No Tidal Data Found!
		</div>
	</div>
</div>
{{/if}}
