{{#each model.webcams.webcams as |webcam|}}
<a class="col-xs-2 webcam--link" href="{{webcam.CAMURL}}" target="_blank">
	<div class="webcam--title">{{if webcam.linktext webcam.linktext webcam.handle}}</div>
	<img src="{{webcam.CURRENTIMAGEURL}}" alt="{{webcam.handle}} webcam" class="webcam--image">
</a>
{{/each}}
